<div class="content">
  <h2>On deck:</h2>
  <% if projects.blank? %>
      No projects! Add one to get started.
  <% end %>
  <%= link_to 'new project', new_project_path(team: team), class: 'button is-success is-centered', remote: true %>
</div>


<div class="projects">
  <% projects.each_with_index do |project, index| %>
      <%= render 'projects/project', project: project, project_index: index %>
  <% end %>
</div>


