
  <% if projects.blank? %>
      No projects! Add one to get started.
  <% end %>
  <%= link_to 'new project', new_project_path(team: team), class: 'button is-success is-centered', style: 'margin-bottom:10px;left:43%;position:absolute;', remote: true %>
  <h2>
    On deck:
  </h2>


<div class="projects">
  <% projects.each_with_index do |project, index| %>
      <%= render 'projects/project', project: project, project_index: index %>
  <% end %>
</div>


