
<section class="container">
  <%= link_to 'new project', new_project_path, class: 'button is-success', style: 'margin:20px;margin-bottom:0px;' %>
  <ol class="is-size-6" style="list-style-type:circle;position:relative;left:25%;bottom:24px">
    <li>All your projects are shown here. Things marked as "now" are opened by default.</li>
    <li>Click the project header to collapse it or expand it (or click another header, which will auto-collapse the first one).
    <li>All tasks/steps/statuses are nested inside.</li>
    <li>This is important so that you can visualize and keep track of what the steps are for each task. So make sure you keep things organized ;)</li>
  </ol>
  <div id="do-this-now-stuff">
    <h1 class="title has-text-centered">
      Stuff for right now
    </h1>
    <%= render 'tasks/sorted_tasks', tasks: @now_tasks %>
  </div>
</section>
<br /><br />
<section class="container">
  <h1 class="title has-text-centered">
    Other stuff
  </h1>
  <div id="projects" data-active-project-index="<%= @active_project_index %>">
    <% @projects.each_with_index do |project, index| %>
        <%= render 'projects/project', project: project, project_index: index %>
    <% end %>
  </div>

</section>



