<style>
  .card {
    width:30%;
    margin:20px;
  }
  .project-date {
    position: absolute;
    right: 2%;
    top: 0;
    font-size: 14px;
  }
  .ui-accordion-header.ui-state-active, .ui-accordion-header.ui-state-focus {
    background-color: aqua;
    border: 1px solid black;
  }
    :focus {
      outline-color:yellow;
    }

    /* start css copied from show.html.erb */

  .feature-div {
    height:200px;
    background-color:lightgrey;
    margin:20px;
    position:relative;
  }
  .feature-description {
    width: 15%;
    height:88%;
    position:relative;
    top:10%;
    margin:4px;
    overflow-y:auto;
  }
  .step-list {
    width:25%;
    height:100%;
    overflow-y:auto;
    float:right;
    position:absolute;
    left:17%;
    top:0;
    padding-left:2px;
    padding-top:6px;
  }
  .done-step {
    text-decoration:line-through;
  }
  .project-step-border-wall {
    position:absolute;
    left:16%;
    width:3px;
    height:100%;
    background-color:black;
    top:0;
  }
  .step-status-border-wall {
    position:absolute;
    left:42.4%;
    width:2px;
    height:100%;
    background-color:darkgrey;
    top:0;
  }
  .status-updates {
    position:absolute;
    top:0;
    left:42.6%;
    height:100%;
    overflow-x:auto;
  }
  .status-update {
    left:0.6%;
    position:relative;
    width:200px;
    height:90%;
    top:4%;
    float:left;
    margin-right:8px;
    word-wrap:break-word;
    overflow-y:auto;
  }
  .new-update-link {
    position:absolute;
    left:43%;
    bottom:-12%;
  }
  .new-step-link {
    position:absolute;
    left:16.6%;
    bottom:-12%;
  }

  .status-time {
    position:absolute;
    top:0;
    right:0;
    font-size:12px;
  }

  .subtitle {
    margin-bottom:4px !important;
  }

  .add-task {

  }

  .back-to-dashboard {
    position:relative;
    left:2%;
    top:8px;
  }

  .edit-feature {
    position:absolute;
    top:-1px;
    left:11.6%;
    font-size:15px;
  }

  .destroy-feature {
    position:absolute;
    top:0;
    left:1%;
    font-size:12px;
  }

  .destroy-feature-icon {
    font-size:16px;
    position:relative;
    top:2px;
  }

  .step-icon {
    font-size:12px;
  }

  .edit-status-update {
    position:absolute;
    left:1%;
    top:-1%;
    font-size:12px;
  }

    .box:first-child {
      margin-bottom:0;
    }

</style>
<%= link_to 'new project', new_project_path, class: 'button is-success', style: 'margin:20px;margin-bottom:0px;' %>
<ol class="is-size-6" style="list-style-type:circle;position:relative;left:25%;bottom:24px">
  <li>All your projects are shown here.</li>
  <li>Click the project header to expand it. All tasks/steps/statuses are nested inside.</li>
  <li>Click the header again to collapse it (or simply click another header)</li>
</ol>
<div id="projects" data-active-project-index="<%= @active_project_index %>">
  <% @projects.each_with_index do |project, index| %>
      <%= render 'projects/project', project: project, project_index: index %>
  <% end %>
</div>



