/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "variables.scss";

/* messages d'information */

.isa_info, .isa_notice  {
  color: $white;
  background-color: $info-shade4;
  span {
    display: inline;
  }
  button {
    margin-left: 20px;
    background-color: $info-shade4;
  }
}

/* messages de succès */

.isa_success {
  color: $success-shade4;
  background-color: $success-shade2;
}

/* messages d'alerte */

.isa_warning {
  color: $warning-shade4;
  background-color: $warning-shade2;
}

/* messages d'erreur */

.isa_error, .isa_alert {
  color: $error-shade4;
  background-color: $error-shade2;
}

//FLASH MESSAGES. THIS IS WHY THEY SOMETIMES LOOK GOOD AND SOMETIMES LOOK BAD.
// THE POSITION:ABSOLUTE IS BEING OVERRIDDEN SOMEWHERE

.isa_info, .isa_success, .isa_warning, .isa_error, .isa_notice, .isa_alert {
  width: 100%;
  z-index: 9999999;
  /*margin-top: $header-height;*/
  padding: 6px 6px 6px 20px;
  font-size: 0.92em;
  opacity: 0.82;
  span {
    display: none;
    position: absolute;
    margin-bottom: 7px;
    border: 1px solid;
    border-radius: 50%;
    padding: 3px 3px;
    top: 45px;
    width: 12px;
    height: 17px;
    right: 17px;
    font-size: 0.6em;
    transform: scale(1.5, 1);
    -webkit-transform: scale(1.5, 1);
    opacity: 1;
  }
}