// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-buttons {
  position: relative;
  bottom: 1rem;
}

.task-description {
  border-right: 2px solid black;
}
.dashboard-question-circle {
  &:hover {
    cursor:pointer;
  }
}

.card {
  width:30%;
  margin:20px;
}
.project-date {
  position: absolute;
  right: 2%;
  top: 0;
  font-size: 14px;
}
.ui-accordion-header.ui-state-active, .ui-accordion-header.ui-state-focus {
  background-color: aqua;
  border: 1px solid black;
}
:focus {
  outline-color:yellow;
}

/* Task styles */

.done {
  text-decoration: line-through;
}

.done-step {
  text-decoration:line-through;
}

.status-update {
  left:0.6%;
  position:relative;
  width:200px;
  height:90%;
  top:4%;
  float:left;
  margin-right:8px;
  word-wrap:break-word;
  overflow-y:auto;
}

.status-time {
  position:absolute;
  top:0;
  right:0;
  font-size:12px;
}



.back-to-dashboard {
  position:relative;
  left:2%;
  top:8px;
}

.step-icon {
  font-size:12px;
}

.box:first-child {
  margin-bottom:0;
}

