$info-shade2: #BDE5F8;
$info-shade4: #00529B;

$success-shade2: #DFF2BF;
$success-shade4: #4F8A10;

$warning-shade2: #FEEFB3;
$warning-shade4: #9F6000;

$error-shade2: #FFBABA;
$error-shade4: #D8000C;