<div class="modal" id="tutorial-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!--<header class="modal-card-head">
      <p class="has-text-centered modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>-->
    <section class="modal-card-body">
      <div class="has-text-centered">
        <button class="delete close-modal" aria-label="close"></button>
      </div>

      <h2 class="subtitle">Quick start:</h2>
      <ul style="list-style:disc;padding:2%;" class="is-size-6">
        <li>All projects are shown here with their related tasks, steps and statuses.</li>
        <li>Click the header to expand/collapse it.</li>
        <li>Make a keyboard shortcut to auto-open your tasks from anywhere on your computer.</li>
      </ul>

      <h2 class="subtitle has-text-weight-bold">Overview</h2>

      <ul style="list-style:disc;padding:2%" class="is-size-6">
        <li>Mío = mine, my stuff (life, personal)</li>
        <li>Team TODOs = team stuff (work, milestones, tasks)</li>
        <li>Notes = notes.</li>
      </ul>


      <h2 class="subtitle has-text-weight-bold">
        Guidelines
      </h2>
      <ul style="list-style:disc;padding:2%;" class="is-size-6">
        <li>Team TODOs should be organized by product roadmap, using a “user story” for each “task”.</li>
        <li>Mío TODOs should be organized and ordered however is most convenient for you.</li>
      </ul>

      <h2 class="subtitle has-text-weight-bold">
        Principles
      </h2>
      <ul style="list-style:disc;padding:2%;" class="is-size-6">
        <li>Roughly follow the principles of [Agile] and [Scrum project management]. And, as always, stay [lean].</li>
        <li>Track tasks as part of [User Stories].</li>
        <li>Product roadmaps are helpful. Track on Micah, but also helpful to hang it on a wall, etc.</li>
      </ul>

      <h2 class="subtitle has-text-weight-bold">
        Roles
      </h2>
      <ul style="list-style:disc;padding:2%;" class="is-size-6">
        <li>[Taskmaster]</li>
        <li>[...other homosapeans]</li>
      </ul>
    </section>
    <!-- hidden by default, remove show-and-tell with JS in final step of flashcard form-->
    <!--<footer class="modal-card-foot show-and-tell">
      <button class="button">Submit</button>
    </footer>-->
  </div>
</div>



