<div class="modal" id="tutorial-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!--<header class="modal-card-head">
      <p class="has-text-centered modal-card-title">Modal title</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>-->
    <section class="modal-card-body">
      <div class="has-text-centered">
        <button class="delete close-modal" aria-label="close"></button>
      </div>

      <ol style="padding:2%;" class="is-size-6">
        <li>All projects their related tasks, and statuses are shown here.</li>
        <li>Click the header to expand/collapse it.</li>
        <li>Make a keyboard shortcut to auto-open your tasks from anywhere on your computer.</li>
      </ol>
    </section>
    <!-- hidden by default, remove show-and-tell with JS in final step of flashcard form-->
    <!--<footer class="modal-card-foot show-and-tell">
      <button class="button">Submit</button>
    </footer>-->
  </div>
</div>



